:root {
  font-family: var(--font-mono);
  font-size: 30px;

  --cursor-color-start: oklch(50% 0.4 190 / 1);
  --cursor-color-end: oklch(50% 0.4 340 / 1);
  --cursor-direction: to right in srgb;
}

input {
  font: inherit;
}

#root {
  display: contents;
}

body {
  display: flex;
  flex-direction: column;
}

.mockedCursor {
  display: grid;
  > * {
    grid-area: 1 / 1;
  }

  .cursor {
    --color-start: var(--cursor-color-start);
    --color-end: var(--cursor-color-end);

    &[data-direction="backward"] {
      --color-start: var(--cursor-color-end);
      --color-end: var(--cursor-color-start);
    }

    pointer-events: none;
    align-self: center;
    position: relative;
    height: 1.5em;
    width: fit-content;
    left: var(--size-2);

    color: var(--color-start);
    border-right: 1px solid currentColor;

    &::before {
      content: attr(data-index);
      position: absolute;
      left: 100%;
      bottom: -1em;
      text-align: left;
      border-radius: 50%;
      font-size: 0.5em;
      transform: translateY(0) translateX(50%) scaleY(1);
    }

    &.hidden {
      opacity: 0;
    }
  }

  .cursor-start {
    &::after {
      transition: background 2s ease-in-out;
      mix-blend-mode: hard-light;
      content: attr(data-length);
      position: absolute;
      width: fit-content;
      height: 1em;
      left: 100%;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      opacity: 0.5;

      background: linear-gradient(
        var(--cursor-direction),
        var(--color-start),
        var(--color-end)
      );
    }
  }

  .cursor-end {
    color: var(--color-end);
  }
}
